.ddl {
	height: 38px;
	width: 190px;
	cursor: pointer;
	color: gray;
	text-align: center;
	padding-left: 6px;
	border-right: Gainsboro 1px solid;
	border-top: Gainsboro 1px solid;
	border-left: Gainsboro 1px solid;
	border-bottom: Gainsboro 1px solid;
}

/*让div内容居中*/
.rdCss {
	height: 38px;
	width: 42.1%;
	line-height: 38px;
	overflow: hidden;
}

.rd {
	margin-left: 12px;
	/*margin-top:16px;*/
}

.button1 {
	width: 120px;
}

.button2 {
	width: 100px;
}

.button3 {
	width: 92px;
}

.button4 {
	width: 96px;
	position: absolute;
	overflow: hidden;
}

.imgSty {
	height: 120px;
	width: 100px;
}

input.FormText {
	color: gray;
	border: Gainsboro 1px solid;
}
